@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(204, 61, 68, 0.75),rgba(77, 70, 70, 0.75)),url(assets/img/blood-donation-image.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.from-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin:  6% auto;
    background:#fff;
    padding: 5px;
}
.from-box .top_link a {
    color: #e3487c;
    font-weight: 400;
}
.from-box .top_link{
  height: 10px
}
.button-box{
    width:  150px;
    height: 50px;
    margin: 25px auto;
    position: relative;
    box-shadow:  0 0 20px 9px #553fad1f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, #dd054d,#dfb415);
    border-radius: 30px;    
}
.input-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #dd054d,#dfb415);
    border: 0;
    outline: none;
    border-radius:  30px;

}
.check-box{
    margin: 30px 10 px 30 px 0;
}
#login{
    left: 50px;
}